body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	min-height: 500px;
	position: relative;
	z-index: 1;
}
.logo {
	background-image: url('../images/logo.png');
	z-index: 3;
	width:682px;
	height: 429px;
	background-repeat:no-repeat;
	position: relative;
	float: left;
	bottom: 413px;
    left: 500px;

}.jquery-logo {
	background-image: url('../images/jquery-logo.png');
	width: 512px;
	height: 512px;
	background-repeat:no-repeat;
	position: relative;
	float: right;
	right: 700px;
	bottom: 490px
}	
.jquery-text {
	text-transform: uppercase;
	font-family: 'Architects Daughter', cursive;
	font-size: 4em;
	color: red;
	float: right;
	position: relative;
	right: 600px;
	bottom: 285px;
}


.instruct-a {
	color: black;
	text-transform: uppercase;
	font-family: 'Architects Daughter', cursive;
	max-width: 400px;
	position: relative;
	z-index: 2;
	float: right;
	right:1050px;
	bottom: 429px;
	font-size: 120%;
}
.instruct-b {
	color: black;
	text-transform: uppercase;
	font-family: 'Architects Daughter', cursive;
	max-width: 400px;
	position: relative;
	z-index: 2;
	float: left;
	left: 753px;
    bottom: 312px;
    font-size:120%;
}
.ryu {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
	background-repeat: repeat;
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url(../images/hadouken.gif);
	width: 156px;
	height: 90px;
	float: left;
	position: absolute;
	top: 162px;
	left: 520px;
	z-index: 10;
	display:none;
}
* {

}